@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

.teambg{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/assets/images/echipa.jpeg');
  background-position:center top;
  background-repeat: no-repeat;
  height:100vh;
  background-size: cover;
  overflow:hidden;
} 
@media (max-height: 700px) {
  .teambg {
    /* Expand the height beyond 100vh */
    height: auto;
  }
}

.teamcard{
  background: linear-gradient(135deg, #fd7102, #FFA500 );
}

.gradienttext{
  @apply text-transparent bg-clip-text bg-gradient-to-b from-primary-200 to-primary-100
}

.sectiontitle{
  @apply font-bold text-center gradienttext italic uppercase text-6xl md:text-8xl 
}
