@tailwind base;
@tailwind components;
@tailwind utilities;

.teambg{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/assets/images/echipa.jpeg');
  background-position:center top;
  background-repeat: no-repeat;
  height:100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow:hidden;
  margin: 0;
  padding: 0;
} 

.teamcard{
  background: linear-gradient(135deg, #fd7102, #FFA500 );
}

.gradienttext{
  @apply text-transparent bg-clip-text bg-gradient-to-b from-primary-200 to-primary-100
}

.sectiontitle{
  @apply font-bold text-8xl text-center gradienttext pt-6 italic uppercase
}
